<body>
  <center>
    <img align="center" src="https://duk.ac.in/wp-content/uploads/2021/03/logo_transparent_bg_caption.png" width="200px" padding="10px"   style=" width:300px; padding: 10px;  " />
  <div class="university-details">
    <h2> </h2>
    <center><h2>Kerala University of Digital Sciences, Innovation and Technology</h2></center> <h3>(Digital University Kerala, DUK)</h3>
    <h4><i><b>School of Digital Sciences</b></i><br></h4>
  </div>
  <h1>  </h1>
  </center>
  <h5><b>Date:</b> 04/08/2025 <br>
<b>Venue:</b> Room Number 45<br>
<b>Topic:</b> Spark DataFrames<br>
<b>Instructor:</b> Dr. Aswin VS</h5>
</body>

---

# **Spark DataFrames**

## **Introduction to Spark DataFrames**




A **Spark DataFrame** is a distributed collection of data organized into rows and columns, much like a table in a relational database or a spreadsheet. It is one of the most widely used data structures in Apache Spark because it allows you to work with large datasets in an intuitive way using familiar operations such as selecting columns, filtering rows, and aggregating results. DataFrames are built on top of **RDDs (Resilient Distributed Datasets)**, which are Spark’s core abstraction for distributed data. While RDDs give you fine-grained control, they can be low-level and harder to optimize. DataFrames, on the other hand, provide a higher-level abstraction that makes it easier to write clean code and benefit from Spark’s internal optimizations.

If you are already familiar with **pandas DataFrames** in Python, Spark DataFrames feel very similar. Both are used for handling tabular data, support column operations, and offer functions for filtering, grouping, and aggregating. The key difference is that pandas DataFrames work on a **single machine**, so they are limited by the memory of that machine, while Spark DataFrames are **distributed across a cluster**, which means they can handle much larger datasets that do not fit into a single computer’s memory. Also, Spark executes operations in a distributed and parallel way, which makes it suitable for big data processing.

There are several benefits of using Spark DataFrames. First, they enable **distributed processing**, which means the data is automatically divided across multiple machines in a cluster and processed in parallel. Second, they support **optimized execution** using Spark’s **Catalyst optimizer** (which analyzes queries and finds the most efficient execution plan) and **Tungsten engine** (which improves memory and CPU efficiency). Another important concept is **lazy evaluation**, meaning that when you write a series of transformations on a DataFrame, Spark does not execute them immediately. Instead, it builds a logical plan and only performs the computation when an action like `show()` or `collect()` is called. This allows Spark to optimize the entire workflow. Finally, Spark DataFrames are designed to **support very large-scale data**, making it possible to analyze terabytes or even petabytes of data efficiently, something not possible with traditional tools like pandas alone.

  <img align="center" src="https://github.com/Aswin2167/Big-Data-Technologies-and-Cloud-Computing/blob/main/lecture-notes/images/DataFrame_API.png?raw=true"  width="500"/>

In Apache Spark, the **RDD (Resilient Distributed Dataset) API** forms the foundation and is part of **Spark Core**, which provides basic distributed computing functions like `map()`, `filter()`, and `reduceByKey()`. On top of this, the **DataFrame API** is introduced as part of **Spark SQL**, offering a higher-level abstraction for structured data with familiar operations such as `select()`, `groupBy()`, and `join()`. While the DataFrame API belongs to Spark SQL, other modules—such as **Structured Streaming**, **Spark ML**, and **GraphX/GraphFrames**—extend and reuse this abstraction in their own domains. Structured Streaming treats live data as an evolving DataFrame, Spark ML uses DataFrames to represent features and labels for machine learning pipelines, and GraphFrames represent vertices and edges as DataFrames to support graph algorithms. This makes DataFrames the **unifying abstraction** in Spark for working with structured data, while RDDs in Spark Core remain the low-level building block for distributed computation.

## **PySpark DataFrame Cheat Sheet**

In [1]:
from pyspark.sql import SparkSession

# Start Spark
spark = SparkSession.builder.appName("DF_Creation").getOrCreate()

### Creating DataFrames

#### From list of tuples

 Use `createDataFrame(data, schema)` where `data` is a list/tuple and `schema` defines column names.

In [ ]:
# From list of tuples
data = [("Alice", 25), ("Bob", 30), ("Cathy", 28)]
df = spark.createDataFrame(data, ["Name", "Age"])

df.show()

+-----+---+
| Name|Age|
+-----+---+
|Alice| 25|
|  Bob| 30|
|Cathy| 28|
+-----+---+

#### From RDD

RDDs can be converted to DataFrames using `.toDF(schema)` for structured operations.

In [ ]:
# Convert RDD to DataFrame
rdd = spark.sparkContext.parallelize([("John", 35), ("Daisy", 40)])
df = rdd.toDF(["Name", "Age"])

df.show()

+-----+---+
| Name|Age|
+-----+---+
| John| 35|
|Daisy| 40|
+-----+---+

#### From External Files

Spark automatically understands these file formats and can infer schema.

In [ ]:
# csv file
df_csv = spark.read.csv("Customers.csv", header=True, inferSchema=True)
df_csv.show()

+---+----------+------+---+-----------------+--------------+
|_c0|CustomerID|Gender|Age|Annual Income(k$)|Spending Score|
+---+----------+------+---+-----------------+--------------+
|  0|         1|  Male| 20|               10|            30|
|  1|         2|Female| 21|               20|            50|
|  2|         3|Female| 19|               30|            48|
|  3|         4|  Male| 18|               10|            84|
|  4|         5|  Male| 25|               25|            90|
|  5|         6|Female| 26|               60|            65|
|  6|         7|  Male| 32|               70|            32|
|  7|         8|  Male| 41|               15|            46|
|  8|         9|Female| 20|               21|            12|
|  9|        10|  Male| 19|               22|            56|
+---+----------+------+---+-----------------+--------------+

In [ ]:
# from jason
df = spark.read.json("Student.json")
df.show()

+--------------------+--------------------+----+-----------+----------------+--------------------+----+
|          department|               email|  id|       name|placement_status|              skills|year|
+--------------------+--------------------+----+-----------+----------------+--------------------+----+
|    Computer Science|ananya.rao@exampl...|S101| Ananya Rao|        Eligible|[Python, Data Ana...|   3|
|         Electronics|rohan.mehta@examp...|S102|Rohan Mehta|          Placed|[Embedded Systems...|   4|
|Information Techn...|meera.nair@exampl...|S103| Meera Nair|    Not Eligible|[HTML, CSS, JavaS...|   2|
+--------------------+--------------------+----+-----------+----------------+--------------------+----+

In [ ]:
# from  Parquet
df_parquet = spark.read.parquet("student_placement.parquet")
df_parquet.show()

+----------+--------------+----------+----+--------------------+----------------+---------------+
|student_id|          name|department|cgpa|              skills|placement_status|interview_score|
+----------+--------------+----------+----+--------------------+----------------+---------------+
|      S201|   Divya Menon|        IT| 8.2|       [Python, SQL]|        Eligible|           NULL|
|      S202|    Arjun Nair|        CS| 9.1|  [Java, Git, Cloud]|          Placed|           85.0|
|      S203|  Sneha Pillai|       ECE| 7.8|      [MATLAB, VHDL]|    Not Eligible|           NULL|
|      S204|Rahul Krishnan|        ME| 8.5|[AutoCAD, SolidWo...|        Eligible|           78.0|
+----------+--------------+----------+----+--------------------+----------------+---------------+

### PySpark Schema & Data Types

#### **Inferred Schema**: Spark automatically determines the data types of columns by sampling the data, rather than requiring the user to explicitly define the schema

In [2]:
data = [("Alice", 25), ("Bob", 30)]
df = spark.createDataFrame(data, ["Name", "Age"])
df.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: long (nullable = true)

`printSchema()` is a PySpark DataFrame method that displays the schema in a tree format, showing all column names and their inferred or explicitly defined data types.

#### **Explicit Schema**: An explicit schema is a user-defined StructType that precisely specifies the name, data type, and nullability of each column within a DataFrame, serving as a contract for data ingestion that ensures type safety and enhances performance by avoiding the need for a costly inference pass.

In [3]:
from pyspark.sql.types import StructType, StructField, StringType, IntegerType

schema = StructType([
    StructField("Name", StringType(), True),
    StructField("Age", IntegerType(), True)
])

df = spark.createDataFrame([("Alice", 25), ("Bob", 30)], schema)
df.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: integer (nullable = true)

In PySpark, **"nullable = true"** in a DataFrame's `printSchema()` output means that a column is allowed to contain **`null` values**. Conversely, if it says **`"nullable = false"`**, it means that column is **not allowed** to have `null` values and Spark will throw an error if it encounters one.

#### **Common Data Types**

| Data Type | Description | PySpark Example |
| :--- | :--- | :--- |
| **`StringType`** | Represents character string values (text). | `StringType()` |
| **`IntegerType`** | Represents 4-byte signed integer values (whole numbers). | `IntegerType()` |
| **`DoubleType`** | Represents 8-byte double-precision floating-point numbers (decimal numbers). | `DoubleType()` |
| **`BooleanType`** | Represents boolean values, either `true` or `false`. | `BooleanType()` |
| **`StructType`** | Represents a structured type, used for nested data. | `StructType([])` |

In [4]:
from pyspark.sql.types import StringType, IntegerType, DoubleType, BooleanType, StructType

# Examples
StringType()   # Text data
IntegerType()  # Whole numbers
DoubleType()   # Decimal numbers
BooleanType()  # True/False
StructType([]) # Nested structure

StructType([])

### DataFrame Basic Operations

In [5]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col

spark = SparkSession.builder.appName("DF_Basics").getOrCreate()
data = [("Alice", 25, "HR"), ("Bob", 30, "IT"), ("Cathy", 28, "Finance")]
df = spark.createDataFrame(data, ["Name", "Age", "Dept"])

#### **Viewing Data** is used to inspect its contents to verify data
| Method | Description |
| :--- | :--- |
| `df.show()` | Displays the top rows in a tabular format. |
| `df.take(n)` | Returns the first `n` rows as a list of `Row` objects. |
| `df.collect()` | Returns all rows as a list of `Row` objects. Use this with caution on large datasets as it loads all data into memory. |

In [10]:
df.show()          # Display top rows in tabular format

+-----+---+-------+
| Name|Age|   Dept|
+-----+---+-------+
|Alice| 25|     HR|
|  Bob| 30|     IT|
|Cathy| 28|Finance|
+-----+---+-------+

In [9]:
df.take(2)         # Return first 2 rows as list of Row objects

[Row(Name='Alice', Age=25, Dept='HR'), Row(Name='Bob', Age=30, Dept='IT')]

In [7]:
df.collect()       # Return all rows (use carefully on big data!)

[Row(Name='Alice', Age=25, Dept='HR'),
 Row(Name='Bob', Age=30, Dept='IT'),
 Row(Name='Cathy', Age=28, Dept='Finance')]

#### **Selecting Columns** used for choosing a specific subset of columns to work with, rather than using the entire dataset.

* The select() function is used to choose and return a new DataFrame containing a specified subset of columns.

In [11]:
df.select("Name", "Age").show()

+-----+---+
| Name|Age|
+-----+---+
|Alice| 25|
|  Bob| 30|
|Cathy| 28|
+-----+---+

In [12]:
df.select(col("Dept")).show()

+-------+
|   Dept|
+-------+
|     HR|
|     IT|
|Finance|
+-------+

#### **Filtering Rows** is used for selecting a subset of a DataFrame's rows based on one or more ***conditions***.

| Function | Description | Example |
| :--- | :--- | :--- |
| **`filter()`** | Used to filter rows based on a given condition. It's often considered more readable and is a direct alias for the `where()` function. | `df.filter("age > 30")` |
| **`where()`** | Also used to filter rows based on a given condition. It is a direct alias for the `filter()` function, meaning they are functionally identical and can be used interchangeably. | `df.where("city == 'New York'")` |

In [13]:
df.filter(df.Age > 28).show()

+----+---+----+
|Name|Age|Dept|
+----+---+----+
| Bob| 30|  IT|
+----+---+----+

In [14]:
df.where(col("Dept") == "IT").show()

+----+---+----+
|Name|Age|Dept|
+----+---+----+
| Bob| 30|  IT|
+----+---+----+

#### **Adding New Columns** is the process of creating a new column in a DataFrame, often by performing a calculation or transformation on existing columns.

The `withColumn()` function is used to add a new column to a DataFrame or to replace an existing column with a new one.

In [15]:
df.withColumn("AgeAfter5Years", df.Age + 5).show()

+-----+---+-------+--------------+
| Name|Age|   Dept|AgeAfter5Years|
+-----+---+-------+--------------+
|Alice| 25|     HR|            30|
|  Bob| 30|     IT|            35|
|Cathy| 28|Finance|            33|
+-----+---+-------+--------------+

#### **Renaming / Dropping Columns** involves changing a column's name or removing it entirely from a DataFrame.

| Function | Description | Example |
| :--- | :--- | :--- |
| **`withColumnRenamed()`** | Used to rename a single column in a DataFrame without changing its data or position. | `df.withColumnRenamed("old_name", "new_name")` |
| **`drop()`** | Used to remove one or more specified columns from a DataFrame. | `df.drop("column1", "column2")` |

In [16]:
df.withColumnRenamed("Dept", "Department").show()

+-----+---+----------+
| Name|Age|Department|
+-----+---+----------+
|Alice| 25|        HR|
|  Bob| 30|        IT|
|Cathy| 28|   Finance|
+-----+---+----------+

In [17]:
df.drop("Age").show()

+-----+-------+
| Name|   Dept|
+-----+-------+
|Alice|     HR|
|  Bob|     IT|
|Cathy|Finance|
+-----+-------+

### Aggregation & Grouping

In [18]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import avg, sum, max, min, count

spark = SparkSession.builder.appName("DF_Aggregations").getOrCreate()

data = [("Alice", "HR", 3000),
        ("Bob", "IT", 4000),
        ("Cathy", "HR", 3500),
        ("David", "IT", 4500),
        ("Eva", "Finance", 5000)]

df = spark.createDataFrame(data, ["Name", "Dept", "Salary"])

#### **Grouping data** is the process of collecting rows that have the same values in one or more columns into a single group, which is a necessary step before performing aggregate functions on each group.

The `groupBy()` function is used to create a **`GroupedData`** object, which is a temporary structure that organizes rows with the same values into groups before an aggregation is applied.

In [19]:
df.groupBy("Dept").count().show()

+-------+-----+
|   Dept|count|
+-------+-----+
|     HR|    2|
|     IT|    2|
|Finance|    1|
+-------+-----+

#### **Single aggregations** are operations that perform a calculation on an entire DataFrame and return a single value, such as finding the `sum()`, `max()`, `min()`, or `count()` of a column.

| Function | Description | Example |
| :--- | :--- | :--- |
| **`count()`** | Returns the number of rows in the DataFrame. | `df.count()` |
| **`sum()`** | Calculates the sum of values in a column. | `df.agg(sum("sales"))` |
| **`avg()`** | Calculates the average value of a column. | `df.agg(avg("price"))` |
| **`min()`** | Finds the minimum value in a column. | `df.agg(min("age"))` |
| **`max()`** | Finds the maximum value in a column. | `df.agg(max("age"))` |
| **`collect_list()`** | Gathers all values from a column into a single list. | `df.agg(collect_list("product"))` |
| **`collect_set()`** | Gathers all unique values from a column into a single list. | `df.agg(collect_set("product"))` |
| **`countDistinct()`**| Returns the number of unique values in a column. | `df.agg(countDistinct("category"))` |

In [20]:
df.groupBy("Dept").avg("Salary").show()   # Average salary

+-------+-----------+
|   Dept|avg(Salary)|
+-------+-----------+
|     HR|     3250.0|
|     IT|     4250.0|
|Finance|     5000.0|
+-------+-----------+

In [21]:
df.groupBy("Dept").sum("Salary").show()   # Total salary

+-------+-----------+
|   Dept|sum(Salary)|
+-------+-----------+
|     HR|       6500|
|     IT|       8500|
|Finance|       5000|
+-------+-----------+

In [22]:
df.groupBy("Dept").max("Salary").show()   # Max salary

+-------+-----------+
|   Dept|max(Salary)|
+-------+-----------+
|     HR|       3500|
|     IT|       4500|
|Finance|       5000|
+-------+-----------+

#### **Multiple aggregations** are operations that perform several different aggregate functions on the same DataFrame or grouped data, such as calculating the `sum`, `average`, and `count` all at once.

* `agg()` function is used to apply one or more aggregate functions to a DataFrame, while
*  `alias()` is used to give the resulting new column a custom, more descriptive name.

In [23]:
df.groupBy("Dept").agg(
    count("*").alias("Count"),
    avg("Salary").alias("AvgSalary"),
    sum("Salary").alias("TotalSalary")
).show()

+-------+-----+---------+-----------+
|   Dept|Count|AvgSalary|TotalSalary|
+-------+-----+---------+-----------+
|     HR|    2|   3250.0|       6500|
|     IT|    2|   4250.0|       8500|
|Finance|    1|   5000.0|       5000|
+-------+-----+---------+-----------+

This code groups the data by the **Dept** column and then performs **multiple aggregations** in a single step.

* `count("*")` → counts how many rows (employees) are in each department.
* `avg("Salary")` → calculates the average salary within each department.
* `sum("Salary")` → adds up all the salaries for that department.
* `.alias("...")` → renames the result columns to make the output more readable.

### Joins

In [24]:
from pyspark.sql import SparkSession

# Create Spark session
spark = SparkSession.builder.appName("JoinCheatSheet").getOrCreate()

# Sample DataFrame 1
employees = spark.createDataFrame([
    (1, "Alice", 10),
    (2, "Bob", 20),
    (3, "Charlie", 30),
    (4, "David", 10)
], ["EmpID", "Name", "DeptID"])

# Sample DataFrame 2
departments = spark.createDataFrame([
    (10, "HR"),
    (20, "Finance"),
    (40, "IT")
], ["DeptID", "DeptName"])

#### **Inner join** combines two DataFrames and returns a new DataFrame containing only the rows where the join key exists in **both** DataFrames.

In [25]:
employees.join(departments, "DeptID", "inner").show()

+------+-----+-----+--------+
|DeptID|EmpID| Name|DeptName|
+------+-----+-----+--------+
|    10|    1|Alice|      HR|
|    10|    4|David|      HR|
|    20|    2|  Bob| Finance|
+------+-----+-----+--------+

#### **Left join** combines two DataFrames and returns a new DataFrame containing all rows from the **left** DataFrame and the matching rows from the right DataFrame; for non-matching rows, the columns from the right DataFrame will contain `null` values.

In [27]:
employees.join(departments, "DeptID", "left").show()

+------+-----+-------+--------+
|DeptID|EmpID|   Name|DeptName|
+------+-----+-------+--------+
|    10|    1|  Alice|      HR|
|    20|    2|    Bob| Finance|
|    10|    4|  David|      HR|
|    30|    3|Charlie|    NULL|
+------+-----+-------+--------+

#### **Right join** combines two DataFrames and returns a new DataFrame containing all rows from the **right** DataFrame and the matching rows from the left DataFrame; for non-matching rows, the columns from the left DataFrame will contain `null` values.

In [26]:
employees.join(departments, "DeptID", "right").show()

+------+-----+-----+--------+
|DeptID|EmpID| Name|DeptName|
+------+-----+-----+--------+
|    10|    4|David|      HR|
|    10|    1|Alice|      HR|
|    20|    2|  Bob| Finance|
|    40| NULL| NULL|      IT|
+------+-----+-----+--------+

#### **Full outer join** combines two DataFrames and returns a new DataFrame containing all rows from **both** DataFrames; where no match is found, the missing columns from either DataFrame are filled with `null` values.

In [28]:
employees.join(departments, "DeptID", "outer").show()

+------+-----+-------+--------+
|DeptID|EmpID|   Name|DeptName|
+------+-----+-------+--------+
|    10|    1|  Alice|      HR|
|    10|    4|  David|      HR|
|    20|    2|    Bob| Finance|
|    30|    3|Charlie|    NULL|
|    40| NULL|   NULL|      IT|
+------+-----+-------+--------+

#### **Left semi join** combines two DataFrames and returns a new DataFrame containing all rows from the **left** DataFrame that have at least one match in the right DataFrame, but it only returns the columns from the left DataFrame.

In [29]:
employees.join(departments, "DeptID", "left_semi").show()

+------+-----+-----+
|DeptID|EmpID| Name|
+------+-----+-----+
|    10|    1|Alice|
|    10|    4|David|
|    20|    2|  Bob|
+------+-----+-----+

#### **Left anti join** combines two DataFrames and returns a new DataFrame containing all rows from the **left** DataFrame that **do not** have a match in the right DataFrame.

In [30]:
employees.join(departments, "DeptID", "left_anti").show()

+------+-----+-------+
|DeptID|EmpID|   Name|
+------+-----+-------+
|    30|    3|Charlie|
+------+-----+-------+

### Sorting and Ordering

| Function | Description | Example |
| :--- | :--- | :--- |
| **`orderBy()`** | Sorts the DataFrame's rows by one or more specified columns. It is a direct alias of the `sort()` function and can be used interchangeably. | `df.orderBy("name", desc("age"))` |
| **`sort()`** | Sorts the DataFrame's rows by one or more specified columns. It is functionally identical to the `orderBy()` function. | `df.sort("salary")` |

In [31]:
# orderBy() - explicit, more flexible
df.orderBy("Salary").show()             # Ascending by default
df.orderBy(df.Salary.desc()).show()     # Descending

+-----+-------+------+
| Name|   Dept|Salary|
+-----+-------+------+
|Alice|     HR|  3000|
|Cathy|     HR|  3500|
|  Bob|     IT|  4000|
|David|     IT|  4500|
|  Eva|Finance|  5000|
+-----+-------+------+

+-----+-------+------+
| Name|   Dept|Salary|
+-----+-------+------+
|  Eva|Finance|  5000|
|David|     IT|  4500|
|  Bob|     IT|  4000|
|Cathy|     HR|  3500|
|Alice|     HR|  3000|
+-----+-------+------+

In [32]:
# sort() - alias of orderBy()
df.sort("Name").show()                  # Ascending
df.sort(df.Name.desc()).show()          # Descending

+-----+-------+------+
| Name|   Dept|Salary|
+-----+-------+------+
|Alice|     HR|  3000|
|  Bob|     IT|  4000|
|Cathy|     HR|  3500|
|David|     IT|  4500|
|  Eva|Finance|  5000|
+-----+-------+------+

+-----+-------+------+
| Name|   Dept|Salary|
+-----+-------+------+
|  Eva|Finance|  5000|
|David|     IT|  4500|
|Cathy|     HR|  3500|
|  Bob|     IT|  4000|
|Alice|     HR|  3000|
+-----+-------+------+

In [33]:
# Multiple columns
df.orderBy("Dept", df.Salary.desc()).show()

+-----+-------+------+
| Name|   Dept|Salary|
+-----+-------+------+
|  Eva|Finance|  5000|
|Cathy|     HR|  3500|
|Alice|     HR|  3000|
|David|     IT|  4500|
|  Bob|     IT|  4000|
+-----+-------+------+

### Handling Missing Data

| Function | Description | Example |
| :--- | :--- | :--- |
| **`dropna()`** | Removes rows from a DataFrame that contain null or `NaN` values. | `df.dropna()` |
| **`fillna()`** | Replaces null or `NaN` values in a DataFrame with a specified value. | `df.fillna(0)` |

In [35]:
# Sample DataFrame with nulls
data = [("Alice", 30, None), ("Bob", None, 4000), ("Cathy", 29, 5000), ("David", None, None)]
df = spark.createDataFrame(data, ["Name", "Age", "Salary"])
df.show()

+-----+----+------+
| Name| Age|Salary|
+-----+----+------+
|Alice|  30|  NULL|
|  Bob|NULL|  4000|
|Cathy|  29|  5000|
|David|NULL|  NULL|
+-----+----+------+

In [36]:
# Drop rows with any null
df.dropna().show()

+-----+---+------+
| Name|Age|Salary|
+-----+---+------+
|Cathy| 29|  5000|
+-----+---+------+

In [37]:
# Drop rows where ALL values are null
df.dropna(how="all").show()

+-----+----+------+
| Name| Age|Salary|
+-----+----+------+
|Alice|  30|  NULL|
|  Bob|NULL|  4000|
|Cathy|  29|  5000|
|David|NULL|  NULL|
+-----+----+------+

In [38]:
# Drop rows if 'Age' is null
df.dropna(subset=["Age"]).show()

+-----+---+------+
| Name|Age|Salary|
+-----+---+------+
|Alice| 30|  NULL|
|Cathy| 29|  5000|
+-----+---+------+

In [39]:
# Fill nulls with constant values
df.fillna({"Age": 0, "Salary": 0}).show()

+-----+---+------+
| Name|Age|Salary|
+-----+---+------+
|Alice| 30|     0|
|  Bob|  0|  4000|
|Cathy| 29|  5000|
|David|  0|     0|
+-----+---+------+

In [40]:
# Fill all numeric nulls with 100
df.fillna(100).show()

+-----+---+------+
| Name|Age|Salary|
+-----+---+------+
|Alice| 30|   100|
|  Bob|100|  4000|
|Cathy| 29|  5000|
|David|100|   100|
+-----+---+------+

### Working with Dates and Timestamps

**Working with dates and timestamps** involves using built-in PySpark functions to parse, format, and manipulate date and time data within a DataFrame.

| Function | Description | Example |
| :--- | :--- | :--- |
| **`current_date()`** | Returns the current date as a `DateType` column. | `current_date()` |
| **`current_timestamp()`** | Returns the current date and time as a `TimestampType` column. | `current_timestamp()` |
| **`date_add()`** | Adds a specified number of days to a given date. | `date_add("birth_date", 30)` |
| **`datediff()`** | Calculates the difference in days between two dates. | `datediff("end_date", "start_date")` |

In [41]:
from pyspark.sql.functions import current_date, current_timestamp, datediff, date_add

# Create a simple DataFrame
df = spark.createDataFrame([("Alice",)], ["Name"])

#### **Adding a Column with the Current Date**

In [42]:
# Current date
df.withColumn("Today", current_date()).show()

+-----+----------+
| Name|     Today|
+-----+----------+
|Alice|2025-09-22|
+-----+----------+

#### **Adding a Column with the Current Timestamp**

In [43]:
# Add 10 days to current date
df.withColumn("FutureDate", date_add(current_date(), 10)).show()

+-----+----------+
| Name|FutureDate|
+-----+----------+
|Alice|2025-10-02|
+-----+----------+

#### **Difference between two dates**

In [49]:
dates = [("2025-01-01", "2025-01-15")]
df2 = spark.createDataFrame(dates, ["StartDate", "EndDate"])
df2.show()

+----------+----------+
| StartDate|   EndDate|
+----------+----------+
|2025-01-01|2025-01-15|
+----------+----------+

In [50]:
df2.select(datediff("EndDate", "StartDate").alias("DaysDiff")).show()

+--------+
|DaysDiff|
+--------+
|      14|
+--------+


### Saving DataFrames

**Saving DataFrames** is the process of writing the contents of a PySpark DataFrame to an external storage location, such as a file system, a database, or a data warehouse.

In [52]:
# Sample DataFrame
data = [("Alice", 30), ("Bob", 40)]
df = spark.createDataFrame(data, ["Name", "Age"])

The **mode** specifies how Spark should handle a file or table that already exists when you are trying to save data to that location.

| Mode | Description | Behavior |
| :--- | :--- | :--- |
| **`overwrite`** | Replaces the existing data and its schema with the new DataFrame's content. | Deletes the old file/table and writes the new one. |
| **`append`** | Adds the rows from the DataFrame to the end of the existing data without changing the schema. | Appends new data to the existing file/table. |
| **`ignore`** | Does nothing if the file or table already exists. The save operation is skipped entirely. | If a file/table exists, the operation is ignored. |
| **`error`** or **`errorifexists`** | Throws an exception and fails the write operation if the file or table already exists. This is the default mode. | Fails the save operation if a file/table already exists. |

| Function | Format | Description | Example |
| :--- | :--- | :--- | :--- |
| `write.csv()` | **CSV** | Saves the DataFrame as a comma-separated values file. | `df.write.csv("path/to/data.csv")` |
| `write.parquet()` | **Parquet** | Saves the DataFrame in the highly efficient columnar Parquet format, ideal for big data analytics. | `df.write.parquet("path/to/data.parquet")` |
| `write.json()` | **JSON** | Saves the DataFrame as a JSON file, where each row is a separate JSON object. | `df.write.json("path/to/data.json")` |
| `write.text()` | **Text** | Saves the DataFrame as a text file, with each row converted to a string. | `df.write.text("path/to/data.txt")` |
| `write.orc()` | **ORC** | Saves the DataFrame in the Optimized Row Columnar (ORC) format, another efficient columnar storage format. | `df.write.orc("path/to/data.orc")` |

In [53]:
# Write as CSV
df.write.mode("overwrite").csv("output/csv_example")

In [54]:
# Write as JSON
df.write.mode("append").json("output/json_example")

In [55]:
# Write as Parquet
df.write.mode("ignore").parquet("output/parquet_example")

In [56]:
# Error if file exists
df.write.mode("errorifexists").csv("output/csv_error")

### Caching & Persistence

**Caching and persistence** are optimization techniques used in PySpark to store a DataFrame in memory or on disk after its first computation. By doing this, you avoid re-computing the same DataFrame from scratch every time it's referenced in subsequent operations, which significantly speeds up iterative algorithms and multiple queries on the same dataset. The key functions for this are **`cache()`** and **`persist()`**.

In [57]:
# Sample DataFrame
data = [("Alice", 30), ("Bob", 40), ("Cathy", 25)]
df = spark.createDataFrame(data, ["Name", "Age"])

In [58]:
# Cache DataFrame in memory
df_cached = df.cache()
df_cached.count()   # triggers caching

3

In [59]:
# Persist DataFrame (memory + disk)
from pyspark import StorageLevel
df_persisted = df.persist(StorageLevel.MEMORY_AND_DISK)
df_persisted.count()

3